/*ШРИФТЫ*/

/*@font-face {
	font-family: "Gilroy ExtraBold";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
			 url("../fonts/gilroyextrabold.woff") format("woff"); 
}
@font-face {
	font-family: "Gilroy Light";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
			 url("../fonts/gilroylight.woff") format("woff"); 
}
@font-face {
	font-family: "Open Sans Light";
	src: url("../fonts/opensanslight.woff2") format("woff2"),
			 url("../fonts/opensanslight.woff") format("woff"); 
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2") format("woff2"),
			 url("../fonts/opensans.woff") format("woff"); 
}*/

/*ГЛОБАЛЬНО*/

a{
	text-decoration: none;
	
	cursor: pointer;
}
a:visited,
a:link{
		color: #000;
}

.container{
	max-width: 1160px;
	
	margin: 0px auto; 
	padding: 0 20px;
}

/*КНОПКИ ПРИ НАВЕДЕНИИ*/

.line-feature{
	display: inline-block;
	
	position: relative;
	
	text-align: center;
	
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3.6px;
	
	padding: 10px;
	
	z-index: 1;
}
.line-feature::before{
	content: "";
	
	position: absolute;
	left: 0;
	right: 0;
	top: calc(50% - 4px);
	bottom: calc(50% - 4px);

	background-color: rgba(240,197,46,1);
	
	z-index: -1;
		
	transition: all 0.3s ease;
}
.line-feature:hover::before{
	top: 0;
	bottom: 0;
		
	transition: all 0.3s ease;
}
.line-feature:active{
	color: rgba(0,0,0,0.3);
}
.line::before{
	content: "";
	position: absolute;
	width: 81px;
	height: 7px;
	background: #000;
}
.line.slider-description::before{
	background: #000;
}
.line.footer-socials::before{
	margin-top: 20px;
	
	background-color: rgba(240,197,46,1);
}

/*ГОЛОВА*/

.main-header{
	position: relative;
		
	max-width: 1160px;
	height: 299px;
	
	margin: 0 auto;
	top: 40px;
	
	background-color: rgba(247,226,150,1);
}
.main-header .container{
	display: flex;
	flex-direction: column;
}
.user-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
	
	margin-top: 53px;
	
	position: relative;
	
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
}

/*ЛОГОТИП*/

.header-logo{
	position: absolute;
	
	margin-top: -21px; 
}
.logo:hover{
	opacity: 0.6;
}
.logo:active{
	opacity: 0.3;
}
 
/*ПОИСК*/

.user-search{
	position: relative;
	
	outline: none;
	border: none;
	border-bottom: 2px solid transparent;
	
	background-color: rgba(247,226,150,0.5);
	
	font-size: 15px;
	line-height: 30px;
	letter-spacing: -1px;
	
	width: 340px;
	height: 49px;
	
	margin: 0;
	padding: 0;
	padding-left: 30px;
	
	opacity: 0.3;
}
.user-search:hover{
	opacity: 0.6;
}
.user-search:focus,
.user-search:active{
	border-bottom: 2px solid #000;
	
	opacity: 1;
}
.user-search:focus ~ .btn-search,
.user-search:active ~ .btn-search{
	visibility: visible;
}

.user-section form{
	width: 440px;
	flex-basis: 49%;
}

.btn-search{
	position: absolute;
	
	visibility: hidden;
	
	border: 2px solid #000;
	outline: none;
	
	background: rgba(247,226,150,0.5);
	
	font-size: 15px;
	line-height: 30px;
	letter-spacing: -1px;
	
	width: 86px;
	height: 49px;

	cursor: pointer;
}
.btn-search:hover{
	background-color: #000;
	color: #fff;
}
.btn-search:active{
	color: rgba(255,255,255,0.3);

	visibility: visible;
}

/*ИКОНКИ*/

.search::after{
	content: "";
	
	position: absolute;

	top: 14px;
	left: 0px;
	
	background-image: url("../img/svg/search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 24px;
	height: 24px;
}
.login,
.compare,
.bin,
.user,
.username{
	position: relative;
	
	padding-left: 20px;
}
.compare{
	padding-right: 30px;
}

.login::before,
.user::before{
	content: "";
	
	position: absolute;
	top: 4px;
	left: 0px;
	
	background-image: url("../img/svg/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 20px;
	height: 20px;
}
.compare::before{
	content: "";
	
	position: absolute;
	top: 7px;
	left: 0px;
	
	background-image: url("../img/svg/compare.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	width: 20px;
	height: 20px;
}
.bin::before{
	content: "";
	
	position: absolute;
	top: 4px;
	left: 0px;
	
	background-image: url("../img/svg/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	width: 20px;
	height: 20px;
}

.nav-catalog::after{
	content: "";
	
	position: absolute;
	top: 3px;
	right: -30px;
	
	background-image: url("../img/svg/plus.svg");
	background-repeat: no-repeat;
	background-position: 0px 0;
	
	width: 20px;
	height: 20px;
	
	opacity: 0.3;
}

.footer-user-nav .username::before{
	content: "";
	
	position: absolute;
	top: 4px;
	left: 0px;	
	
	background-image: url("../img/user.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 20px;
	height: 20px;
}
.footer-user-nav .login::before{
	content: "";
	
	position: absolute;
	top: 4px;
	left: 0px;	
	
	background-image: url("../img/user.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 20px;
	height: 20px;
}
.footer-user-nav .compare::before{
	content: "";
	
	position: absolute;
	top: 7px;
	left: 0px;
	
	background-image: url("../img/compare.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	width: 20px;
	height: 20px;
}
.footer-user-nav .bin::before{
	content: "";
	
	position: absolute;
	top: 4px;
	left: 0px;
	
	background-image: url("../img/cart.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	width: 20px;
	height: 20px;
}

/*НАВИГАЦИЯ*/

.main-header .container{
	margin: 0 55px;
}
.navigation li{
	list-style: none;
}
.current-page{
	position: relative;
}
.nav > a{
	text-transform: uppercase;
}
.user-nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-basis: 50%;
}
.user-nav a{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
}
.user-nav a:hover{
	opacity: 0.6;
}
.user-nav a:active{
	opacity: 0.3;
}

.user-nav-login .logout{
	opacity: 0.3;
}

.nav:hover .dropdown-menu{
	display: block;
}

.nav-menu{
	margin: 0;
	padding: 0;
	margin-top: 46px;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-basis: 50%;
}
/*	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;*/
/*.nav-menu .nav-delivery{
	padding-left: 58px;
}
.nav-menu .nav-warranty{
	padding-left: 40px;
}
.nav-menu .nav-contacts{
	padding-left: 110px;
}*/

.nav-menu > li:first-child{
	width: 440px;
}
.nav-menu > li.nav{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
}

.nav-catalog:hover{
	opacity: 0.6;
}
.nav-catalog:active{
	opacity: 0.3;
}
.nav-menu .current-page:hover{
	opacity: 0.6;
}
.nav-menu .current-page:active{
	opacity: 0.3;
}

/*ПОДМЕНЮ*/

.dropdown-menu{
/*
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
*/


	top: 200px;
	left: 0;
	
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: -1px;
		
	margin: 0;
	
	min-width: 1120px;
	
	display: none;
	
	background-color: rgba(247,226,150,1);
}

.dropdown-menu 
.sub-menu-item:hover{
	opacity: 0.6;
}
.dropdown-menu 
.sub-menu-item:active{
	opacity: 0.3;
}

/*ВЕРХНИЙ СЛАЙДЕР*/

.main-slider-section{
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
}
.main-slider-box{
	counter-reset: items;
}

.slider-item{
	counter-increment: items;
	
	display: flex;
	justify-content: space-between;
	
	height: 502px;
	
	margin: 0 60px;
	margin-top: 130px;
	
	z-index: 1;
}
.slider-image{
	flex-basis:50%;
	
	text-align: center;
	
	margin-right: 10px;
}
.slider-description{
	flex-basis: 50%;
}

.product{
	font-family: "Gilroy Light", "Arial", sans-serif;
	line-height: 48px;
	font-size: 36px;
}
.description td{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.13px;
	
	padding-right: 76px;
}
.slider-description .lead{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.47px;
	
	margin: 0;
	padding: 0;
	
	margin-top: 45px;
	margin-bottom: 30px;
}
.item-description{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.36px;
	
	padding: 0;
	margin: 0;
}

.slider-item::before{
	content: counter(items, decimal-leading-zero);
	
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 179px;
	line-height: 179px;
	letter-spacing: 17px;
	
	position: absolute;
	top: 0px;
	right: -6px;
	
	margin-top: -50px;
	
	color: #000;
	
	z-index: 1;
}
.slider-item a{
	padding: 12px 49px;
}

.slider-wrapper{
	position: relative;
	
	margin: 60px 0
}
.slides {
	position: absolute;
	
	visibility: hidden;
	opacity: 0;
}
.hidden-radio{
	display: none;
}

#monopod:checked ~ .slides[title="Монопод"] {
	position: relative;
	
	visibility: visible;
	opacity: 1;
}
#fitbracelet:checked ~ .slides[title="Фитнес-браслет"] {
	position: relative;
	
	visibility: visible;
	opacity: 1;
}
#quadrocopter:checked ~ .slides[title="Квадрокоптер"] {
	position: relative;
	
	visibility: visible;
	opacity: 1;
}

.slider-button{
	position: absolute;
	top: 20px;
	right: 0;
	
	font-size: 0px;
}
.pseudo-radio{
	position: relative;
	
	margin-left: 20px;
	padding: 6px;
	
	border-radius: 50%;
	border: 1px solid #000;
	
	cursor: pointer;
}
.slider-button .active::before {
	content: "";
	
	position: absolute;
	top: 4px;
	left: 4px; 
	width: 2px;
	height: 2px;
	
	background: #ffffff;
	
	border-radius: 50%;
	border: 1px solid #000;
}

/*АССОРТИМЕНТ*/

.popular-section{
	max-width: 1440px;
	margin: 0 auto;
}
.popular-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
	margin-top: 90px;
	margin-bottom: 77px;
}

.popular-item .monopod{
	align-items: flex-end;
}
.popular-item .description{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
	
	margin-top: 35px;
	margin-bottom: 70px;
	width: 160px;
}

.popular-img-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 160px;
	height: 160px;
	
	background-color: rgba(240,197,46,0.5);
}
.popular-img-wrapper:hover{
	background-color: rgba(240,197,46,1);
}
.popular-img-wrapper img:active{
	opacity: 0.5;
}

/*СЕРВИСЫ*/

.services-section{
	background-color: rgba(229,229,229,1);
	max-width: 1440px;
	margin: 0 auto;
}
.services-wrapper{
	position: relative;
	padding: 0;
	
	max-height: 288px;

}
.services-in-box{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
}

/*СЕРВИСЫ-КНОПКИ*/
.services-box{
display: flex;
}
.services-in-box{
	display: none;
}
.slider-point{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	max-width: 180px;
	
	margin-top: -40px;
	
	font-size: 18px;
	line-height: 24px;
}
.slider-point .line-feature{
	margin: 15px 0;
	padding: 12px 0;
	
	cursor: pointer;
}

.slider-point{
	position: relative;
}

.line-feature.active::before {
	top: 0px;
	bottom: 0;
	
	width: 290px;

	background: #000;
}
.line-feature.active{
	color: rgba(247,225,132,1);
}

/*СЕРВИСЫ-ОПИСАНИЕ*/

.services[title="delivery"]::after{
	content: url(../img/svg/delivery.svg);
}
.services[title="warranty"]::after{
	content: url(../img/svg/warranty.svg);
}
.services[title="credit"]::after{
	content: url(../img/svg/credit.svg);
}

#delivery:checked ~ .services[title="delivery"] {
	display: block;
}
#warranty:checked ~ .services[title="warranty"] {
	display: block;
}
#credit:checked ~ .services[title="credit"] {
	display: block;
}

.slider-point::after{
	content: "";
	
	position: absolute;
	top: -50px;
	bottom: 0px;
	right: -117px;
	
	height: 319px;
	width: 7px;
	
	background-color: #000;
}

.services-section h3{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
}

/*СПОНСОРЫ*/

.brands{
	max-width: 1440px;
	margin: 0 auto;
}
.brands-logotypes{
	margin: 94px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.logotypes{
	position: relative;
}
.logotypes img:first-child{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	top: 0px;
}
.black-and-white{
	opacity: 0.2;
}
.logotypes:hover img:first-child{
	cursor: pointer;
	opacity: 1;
	visibility: visible;
}

.info-contact{
	display: flex;
	justify-content: space-between;
/*	flex-wrap: wrap;*/

	max-width: 1440px;
	
	margin: 0 auto;
	padding-bottom: 74px;
}

/*О НАС*/

.info-section{
	width: 470px;
	
	position: relative;
	
	padding-left: 120px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	background-color: rgba(100,200,50,0.2); 
}
.info-section .line-feature {
	padding: 12px 23px;
}
.info-section p:not(:last-child), 
.info-list{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	
	padding: 0;
	margin: 0;
}
.info-section .container p:nth-child(3){
	padding-top: 20px;
}
.info-section h2{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.47px;

}
.info-section .info-list{
	list-style-type: circle;	
	
	margin-top: 56px;
	padding-bottom: 94px;
	
	color: rgba(229,229,229,1);
}
.info-item span{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-weight: 600;
	
	color: #000;

	padding-left: 15px;
}

/*КОНТАКТЫ*/

.contact-section{
	width: 570px;
	
	margin: 0;
	padding: 0;
	padding-right: 120px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	background-color: rgba(100,200,50,0.2);
}

.contact-section .map-btn{
	display: inline-block;
}
.contact-section .line-feature{
	margin-left: 20px;
	padding: 12px 41px;
}   
.contact-section h2{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
}
.contact-section p{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
}

/*ПОДВАЛ*/

.main-footer{
	background-color: rgba(70,70,70,1);
	
	margin: 0 auto;
	max-width: 1440px;
}
.main-footer .container{

}
.main-footer a{
	color: #ffffff;
}
.main-footer li{
	font-family: "Open Sans Light", "Arial", sans-serif;
	
	list-style: none;
}

.footer-user{
	display: flex;
	justify-content: space-between;
			
	padding-top: 60px
}
.footer-user-nav{
	display: flex;
	flex-wrap: wrap;
	
	padding: 0;
	margin: 0;
}
.footer-user-nav .login-link,
.user-nav-link{
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
	
	padding-left: 35px;
}
.footer-user-nav .username{
	color:  rgba(255,255,255,0.6);
}
.login-link a.logout{
	color:  rgba(255,255,255,0.3);
}

.footer-conditions{
	margin-top: 35px;
	
	display: flex;
	justify-content: space-between;
}
.footer-address,
.footer-phone{
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;

	color:  rgba(255,255,255,0.7);
}

.login-link a, 
.user-nav-link a{
	opacity: 0.7;
}
.login-link a:hover, 
.user-nav-link a:hover{
	opacity: 1;
}
.login-link a:active, 
.user-nav-link:active{
	opacity: 0.3;
}

.footer-site-nav{
	padding: 0;
	
	display: flex;
	flex-wrap: wrap;
}
.footer-site-nav .footer-nav{
	font-family: "Gilroy ExtraBold", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	
	padding-right: 40px;

}
.footer-site-nav a:hover{
	opacity: 0.6;
}
.footer-site-nav a:active{
	opacity: 0.3;
}

/*СОЦСЕТИ*/

.footer-socials{
	max-width: 1160px;
	
	margin: 0 auto;
	
	position: relative;
}
.socials-buttons{
	display: flex;
	justify-content: center;
	
	margin: 0;
	margin-top: 60px;
	padding-bottom: 60px;
}
.socials-buttons::before{
	display: block;
	
	width: 10px;
	height: 10px;
}
.social-icon{
	display: flex;
	
	width: 35px;
	height: 35px;
	
	padding-left: 22px;
}

.social-btn-facebook{
	background: url(../img/svg/fb.svg) no-repeat;
}
.social-btn-instagram{
	background: url(../img/svg/instagram.svg) no-repeat;
}
.social-btn-twitter{
	background: url(../img/svg/twitter.svg) no-repeat;
}
 
a.social-icon{
	opacity: 0.3;
}
a.social-icon:hover{
	opacity: 0.6;
}
a.social-icon:active{
	opacity: 0.1;
}

.footer-copyright{
	display: flex;
	justify-content: flex-end;
}
.footer-copyright .logo-html::before{
	content: "";
	position: absolute;
	
	bottom: 50px;
	right: 0;
	
	background-image: url("../img/svg/logo-html.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	width: 40px;
	height: 50px;
}
.footer-copyright .logo-html:hover::before{
	opacity: 0.6;
}
.footer-copyright .logo-html:active::before{
	opacity: 0.3;
}

/*ФОРМА ОБРАТНОЙ СВЯЗИ*/

.modal{
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #fff;
}

.feedback{
	display: none;
	
	width: 960px;
	height: 553px;
	
	margin-top: -300px;
	margin-left: -480px;
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
	z-index: 3;
}
.feedback-form{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 95px;
}
.feedback-form-group b{
	display: block;
	
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
}

/*.feedback-form input[type="text"]:invalid, 
input[type="email"]:invalid, 
textarea:invalid{
	background-color: rgba(246,218,218,0.5);
}*/

.feedback-group{
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
}

.feedback-form input, 
.form-group-text{	
	background-color: rgba(242,242,242,1);
	outline: none;
	border: 3px solid transparent;
	
	padding-left: 19px;
	margin-top: 12px;
	
	width: 100%;
	
	font-family: "Open Sans Regular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font: inherit;
	
	box-sizing: border-box;
}
.feedback-form input:hover, 
.form-group-text:hover{
	background-color: rgba(235,235,235,1);
}
.feedback-form input:focus, 
.form-group-text:focus{
	border: 3px solid rgba(247,226,150,0.5);
	
	background-color: rgba(255,255,255,1);
}

.form-group-fio,
.form-group-email{
	min-height: 60px;
	min-width: 360px;

	margin-bottom: 38px;	
}
.form-group-text{
	min-height: 156px;
	min-width: 100%;
	
	padding-top: 18px;
	
	resize: none;
}
.feedback-form button[type="submit"]{
	margin-top: 45px;
	padding-left: 35px;
	padding-right: 35px;
	
	border: none;
	outline: none;
	
	background-color: #fff;
	
	cursor:  pointer;
}

/*МОДАЛЬНЯ КАРТА*/

.map-popular{
	display: none;
	
	width: 960px;
	height: 559px;
	
	margin-top: -300px;
	margin-left: -480px;

	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	
	z-index: 3;
}
.map-popular p{
	margin: 0;
}

/*КНОПКА "ЗАКРЫТЬ" МОДАЛЬНОЕ ОКНО*/

.feedback-modal-close, 
.map-modal-close{
	position: absolute;
	top: 22px;
	right: 22px;
	
	height: 55px;
	width: 55px;
	
	border-radius: 50%;
	background-color: rgba(247,226,150,50);
	background-color:  transparent;
	
	border:  transparent;
	
	cursor: pointer;
}
.feedback-modal-close::before, 
.map-modal-close::before{
	content: "";
	
	position: absolute;
	top: 0px;
	left: 0px;	
	
	background-image: url("../img/svg/modal-close.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 60px;
	
	height: 60px;
	
	opacity: 0.5;
}
.feedback-modal-close:hover::before, 
.map-modal-close:hover::before{
	opacity: 1;
}
.feedback-modal-close:active::before, 
.map-modal-close:active::before{
	opacity: 0.3;
}

/*КАТАЛОГ_ХЛЕБНЫЕ-КРОШКИ*/

.catalog-nav-section h2{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.47px;

	margin: 0;
	margin: 44px;
	margin-left: 55px;
}
.catalog-nav-section .breadcrumbs{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	
	padding: 0;
	margin: 0;
	
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.14px;
}

.catalog-nav-section li{
	position: relative;
	
	margin-bottom: 50px;
	margin-right: 42px;
	margin-left: 53px;
	
	list-style: none;	
}
.catalog-nav-section a,
.breadcrumbs>li:last-child{
	opacity: 0.3;
} 
.breadcrumbs a:hover{
	opacity: 0.6;
}
.breadcrumbs a:active{
	opacity: 0.1;
}

.catalog-nav-section{
	position: relative;
}
.catalog-nav-section li::after{
	content: url(../img/svg/nav-arrow.svg);
	
	position: absolute;
	
	padding: 0 17px;
}
.catalog-nav-section li:last-child::after{
	display: none;
}

/*ФИЛЬТРЫ*/

.main-filter-section{
	margin: 0 auto;
	max-width: 1440px;
/*	display: flex;*/
}
.main-nav-section{
	padding: 0;
	margin: 0;
	
/*	display: flex;
	justify-content: space-between;
	flex-direction: row;*/
}

.filter-form-wrapper{
	background-color: rgba(238,238,238,1);
	
	max-width: 468px;
	padding: 0;
}
.filter-form-wrapper form{
	margin-left: 100px;
	padding: 0;

}
.filter-form-wrapper h2{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	
	text-transform: uppercase;
	
	margin-top: 0;
	margin-bottom: 79px;
	padding: 27px 140px;
	
	
	background-color: rgba(220,220,220,1);
}

.filter-form fieldset{
	border: none;
	
	max-width: 207px;
	
	padding: 0;
	padding-left: 20px;
}
.filter-price legend, 
.filter-color legend, 
.filter-bluetooth legend{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

/*ФИЛЬТР СТОИМОСТИ*/

.filter-price {
	position: relative;
	
	padding: 0;
}
.filter-price .scale {
	height: 2px;
	width: 196px;
	
	margin: 41px 0;
	margin-bottom: 70px;
	
	background: rgba(0, 0, 0, 0.3);
}
.filter-price-scale{
	display: inline-block;
	
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	
	margin-top: 12px;

	
	opacity: 0.2;
}
.filter-price .filter-price-min{
	padding-right: 64px;
}
.scale .range{
	width: 110px;
	height: 2px;

	background: rgba(201, 224, 162, 1);
}

.range-toggle {
	position: absolute;
	margin-left: 10px;
	top: 56px;
	
	width: 4px;
	height: 4px;
	
	background: #ababab;
	
	border: 8px solid #ffffff;
	border-radius: 50%;
	
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	
	cursor: pointer;
}
.range-toggle:active {
	transform: scale(1.2);
}
.range-toggle-min {
	left: -10px;
}
.range-toggle-max {
	left: 100px;
}

/*ФИЛЬТР ЦВЕТА*/

.filter-color{
	margin-bottom: 30px;
}
.filter-option{
	position: relative;
	
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.14px;
	
	list-style: none;
}
.filter-option-input + label{
	cursor: pointer;
}
.filter-option-input:disabled + label{
	opacity: 0.25;
}
.filter-option-input:not(:disabled) + label:hover::before,
.filter-option:hover{
	opacity: 0.6;
}
.filter-option-input:not(:disabled) + label:active::before,
.filter-option:active{
	opacity: 1;
}
.filter-option-input + label::before{
	content: url(../img/svg/checkbox-off.svg);
	
	position: absolute;
	top:5px;
	left: -35px;
}
.filter-option-input:checked + label::before{
	content: url(../img/svg/checkbox-on.svg);
	
	position: absolute;
	top:5px;
	left: -35px;
}

/*ФИЛЬТР BLUETOOTH*/

.filter-option-radio:checked + label::before{
	content: url(../img/svg/radio-on.svg);
	
	position: absolute;
	top:5px;
	left: -35px;
}
.filter-option-radio + label::before{
	content: url(../img/svg/radio-off.svg);
	
	position: absolute;
	top:5px;
	left: -35px;
}
.filter-option-radio + label{
	cursor: pointer;
}
.filter-option-radio:disabled + label{
	opacity: 0.25;
}
.filter-option-radio + label:hover::before{
	opacity: 0.6;
}
.filter-option-radio + label:active::before{
	opacity: 1;
}
.filter-form button{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: auto;
	letter-spacing: 3.6px;
	
	padding-left: 43px;
	padding-right: 43px;
	
	background-color: transparent;
	
	border: none;
	
	cursor: pointer;
}		

/*КНОПКИ СОРТИРОКИ*/

.sort-catalog-holder{
	flex-grow: 1;
}

.sort-wrapper{
	padding-left: 10px;
	padding-right: 60px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	height: 78px;
	
	background-color: rgba(235,235,235,0.92); 
}
.sort-wrapper h2{
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	
	margin-top: 0;
	
	text-transform: uppercase;
}
.sort-item-holder ul{
	display: flex;
	justify-content: space-around;
}
.sort-item-holder .sort-item{
	font-family: "Open Sans Regular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	
	list-style: none;
}
.sort-item > input[type="radio"]{
	display: none;
}
.sort-radio:checked + label{
	opacity: 1;
}
.sort-radio:not(:checked) + label{
	opacity: 0.2;
}
.sort-radio:not(:checked):hover + label{
	opacity: 0.6;
}
.sort-radio:not(:checked):active + label{
	opacity: 1;
}

.sort-btn-holder > input[type="radio"]{
	display: none;
}
.arrow{
	font-size: 0px;
	
	margin-right: 8px;
}
.arrow-up::before{
	content: url(../img/svg/icon-up-dir.svg);
}
.arrow-down::before{
	content: url(../img/svg/icon-down-dir.svg);
}

.sort-radio-arrow:checked + label{
	opacity: 1;
}
.sort-radio-arrow:not(:checked) + label{
	opacity: 0.2;
}
.sort-radio-arrow:not(:checked):hover + label{
	opacity: 0.6;
}
.sort-radio-arrow:not(:checked):active + label{
	opacity: 1;
}

/*КАТАЛОГ*/

.catalog-holder{
	display: flex;
	flex-wrap: wrap;
	padding-top: 70px;
	padding-left: 70px;
}
.catalog-holder .item{
	padding-right: 40px;
}
.item-holder{
	position: relative;
	
	margin-bottom: 37px;
	
	cursor: pointer;
}

/*КОРЗИНА-СРАВНЕНИЕ*/

.item-holder-active{
	position: absolute;
	
	width: 360px;
	height: 379px;
	
	top: 0px;
	left: 0px;
	
	visibility: hidden;
}
.item-holder:hover .item-holder-active{
	visibility: visible;
	background-color: rgba(238,238,238,0.7);
}
.in-garbage{
	padding-left: 37px;
	padding-right: 37px;
	margin-left: 80px;
	
	top: 183px;
}
.add-to-compare{
	display: block;
	
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.13px;
	
	text-align: center;
	
	padding-top: 190px;
	
	opacity: 0.5;
}
a.add-to-compare:hover{
	opacity: 1;
}
a.add-to-compare:active{
	opacity: 0.2;
}

/*ОПИСАНИЕ ТОВАРОВ*/

.description-holder .product-name{
	max-width: 260px;
}
.description-holder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
	
	padding: 0;
	margin: 0;
	margin-bottom: 35px;
}
.description-holder .item-price{
	font-family: "Gilroy Light", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.16px;
	
	padding: 0;
	margin: 0;
}

/*КНОПКИ СТРАНИЦ*/

.catalog-navigation{
	display: flex;
	justify-content: space-between;
	
	max-width: 760px;
	margin-left: 70px;
	box-sizing: border-box;

	height: 70px;
	
	background-color: rgba(235,235,235,0.92);
}
.pagination-list{
	display: flex;
	justify-content: space-between;
		
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	
	margin: 0;
	padding: 0;
	padding-top: 24px;
	list-style: none;
}
.pagination-item{
	padding-left: 32px;
}

.btn-control .button{
	border: none;
	outline: none;
	
	background-color: rgba(255,255,255,0);
	
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	
	height: 70px;
	width: 126px;
	
	text-transform: uppercase;
	
	cursor: pointer;
}
.btn-control .catalog-control-back:hover,
.btn-control .catalog-control-next:hover{
	color: rgba(0,0,0,1);
	
	background-color: rgba(217,217,217,1);
}
.btn-control .catalog-control-back:active,
.btn-control .catalog-control-next:active{
	color: rgba(0,0,0,0.3);
	
	background-color: rgba(217,217,217,1);
}

.pagination-item a{
	color: rgba(195,195,195,0.3);
}
.pagination-item a:hover{
	color: rgba(195,195,195,0.6);
}
.pagination-item a:active{
	color: rgba(0,0,0,1);
}
.pagination-item-current{ 
	color: rgba(0,0,0,1);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}