/*ШРИФТЫ*/
@font-face {
	font-family: "Opensans";
	src: url("../fonts/opensans.woff2") format("woff2"); 
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "Gilroy-ExtraBold";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"); 
	font-style: normal; 
	font-weight: bold; 
}
/*ГЛОБАЛЬНО*/
body {
	max-width: 1440px;
	min-width: 1160px;
	margin: 0px auto; 
	padding: 0 20px;
}
a{
	text-decoration: none;
	color: black;
}
.main-footer a{
	color: white;
}ы